#content
  .article-block
    h3.block-title
      background: url('icons/line.png') repeat-x left center
      border-bottom: none
      border-left: 10px solid #575959
      font-family: 'Ubuntu'
      font-size: 22px
      font-variant: normal
      font-weight: 300
      line-height: 22px
      margin: 25px 0
      span
        background: #FFF
        padding: 0 15px
    .short-post
      font-family: 'Ubuntu'
      font-size: 13px
      a
        color: #3B9AAD
        text-decoration: none
    .read-more
      a
        display: none
        background: url('icons/ico-orange.png') no-repeat left center
        background-size: contain
        color: #F9A100
        display: block
        float: right
        font-family: 'Ubuntu'
        font-size: 13px
        height: 24px
        line-height: 24px
        margin: 25px 0 20px
        padding-left: 30px
        text-decoration: none
        text-transform: lowercase
        &:last-child
          display: block

#content
  .container-block-plugin_container-block
    margin-top: 20px
    .block-outer
      margin: 0
      .display-content-block
        background: #999999
        border-top: 5px solid #E5E5E5
        margin-right: 0px
        padding: 25px 0 0 0
        width: 475px !important
        .block-title
          color: #EAE6C6
          margin-bottom: 20px
          padding-left: 15px
          span
            background: url('icons/ico-light.png') no-repeat left center
            background-size: contain
        ul
          margin: 0
        li
          border-bottom: 1px solid #EAE6C6
          margin: 0
          overflow: hidden
          padding: 15px
          > div
            float: left
          &:last-child
            margin: 0
            border: none
        .image
          border: 2px solid #F3F3F3
          height: 95px
          margin-right: 15px
          overflow: hidden
          width: 100px
          a
            color: #F3F3F3
            display: block
            overflow: hidden
          img
            max-width: 150px
        .title
          height: 34px
          margin: 10px 0 30px 0
          overflow: hidden
          width: 300px
          a
            color: #F3F3F3
            font-family: 'Ubuntu'
            font-size: 14px
            font-weight: 300
            text-decoration: none
        .lead
          display: none
        .read_more
          width: 300px
          a
            background: url('icons/more_two.png') no-repeat left center
            background-size: 20px 20px
            color: #F3F3F3
            display: block
            float: left
            font-family: 'Ubuntu'
            height: 20px
            line-height: 20px
            text-decoration: none
            text-indent: 25px
            text-transform: lowercase
      &:first-child .display-content-block
        background: #F3F3F3
        border-bottom: none
        border-top: 5px solid #999999
        margin-right: 5px
        padding: 25px 15px 15px
        width: 445px !important
        .block-title
          color: #3B9AAD
          margin-bottom: 25px
          padding: 0
          span
            background: url('icons/ico-blue.png') no-repeat left center
            background-size: contain
        li
          margin: 0
          padding: 0
          & > div
            float: none
        .title
          height: auto
          margin-bottom: 13px
          max-height: 38px
          width: 100%
          a
            color: #575959
            font-weight: 300
        .image
          border-color: #999999
          height: auto
          max-height: 290px
          width: 446px
          img
            max-width: 100%
        .read_more
          float: right
          margin: 15px 0 0 0
          width: auto
          a
            background: url('icons/ico-orange.png') no-repeat left center
            background-size: 25px 24px
            color: #F9A100
            height: 25px
            line-height: 25px
            text-indent: 30px

#content
  .block-outer:last-child
    .link-list-block
      background: none
      padding: 0
      .block-title
        background: #E5E5E5
        color: #64677C
        padding: 20px
        span
          background: url('icons/ico-purple.png') no-repeat left center
          background-size: contain
      li
        background: none
        margin: 0 25px 0 0
        padding: 0
        a
          background: #FFF2DD url('icons/videos.png') no-repeat 25px 40px
          background-size: 169px
          border: 1px solid #F9A100
          color: #F9A100
          font-family: 'Ubuntu'
          font-size: 20px
          font-weight: 700
          display: block
          height: 20px
          padding: 230px 25px 40px
          text-align: center
          width: 169px
        &:nth-child(2)
          a
            background: #F9F9F1 url('icons/publicacoes.png') no-repeat 25px 40px
            background-size: 169px
            border: 1px solid #B5B88E
            color: #B5B88E
        &:nth-child(3)
          a
            background: #DEF4FA url('icons/imagens.png') no-repeat 25px 40px
            background-size: 169px
            border: 1px solid #3B9AAD
            color: #3B9AAD
        &:last-child
          margin: 0
          a
            background: #E7E6F1 url('icons/audios.png') no-repeat 25px 40px
            background-size: 169px
            border: 1px solid #6A677C
            color: #6A677C

