#content
  .breadcrumbs-plugin_content-breadcrumbs-block
    margin: 0 0 30px 0
    padding: 0
    a.item, span.separator, #breadcrumbs-you-are-here
      color: #4F9CAC
      font-family: 'Ubuntu'
      font-size: 14px
      margin-right: 10px
    a.item
      color: #575959
      text-transform: capitalize
    #breadcrumbs-you-are-here
      font-weight: 700
      text-transform: uppercase
  .main-content
    border: none
    border-bottom: 1px dotted #575959
    border-radius: 0
    box-shadow: none
    padding: 0px
    #article-header
      background: url('icons/line.png') repeat-x left 8px
      display: block
      height: 75px
      margin: 25px 0 0 0
      width: 100%
    h1.title
      background: #FFF
      border-bottom: none
      border-left: 10px solid #575959
      color: #575959
      display: block
      float: left
      font-family: 'Ubuntu'
      font-size: 22px
      font-variant: normal
      font-weight: 300
      margin: 0 0 25px 0
      padding: 0 15px
      position: relative
      width: auto
    .publishing-info
      display: block
      float: left
      width: 100%
    #article
      font-family: 'Ubuntu'
      font-size: 13px
      .article-body a
        color: #3B9AAD
        text-decoration: none
