#content .box-1 .link-list-block
  background: #69677C
  border-radius: 0 0 3px 3px
  margin-bottom: 30px
  padding: 20px
  ul
    text-align: left
  li
    display: inline-block
    margin: 0 0 0 50px
    padding: 0
    &:first-child
      background: url('icons/home.png') no-repeat left center
      background-size: 24px
      margin-left: 0
      padding-left: 40px
    a
      background: #69677C
      border-radius: 0
      color: #FFF
      font-family: 'Ubuntu Mediun'
      font-size: 16px
      margin: 0
      padding: 0
      &.link-this-page
        border-radius: 0
        &:hover
          border: none
