@import url(../profile-base/style.css)

@font-face
  font-family: 'Ubuntu'
  font-weight: 300
  font-style: normal
  src: url('fonts/Ubuntu-R.ttf')

@font-face
  font-family: 'Ubuntu Mediun'
  font-weight: 300
  font-style: normal
  src: url('fonts/Ubuntu-M.ttf')

@font-face
  font-family: 'Ubuntu'
  font-weight: 300
  font-style: italic
  src: url('fonts/Ubuntu-RI.ttf')

body
  background: #fff

#barra-brasil
  border-bottom: 1px solid #eee
  width: 100%
  z-index: 99
  div#wrapper-barra-brasil
    font-family: Arial, Helvetica, sans-serif !important
    width: 960px

#theme-header, #site-title
  display: none

#wrap-2
  border: none
  margin: 0
  padding: 0
  #user
    display: none

@import profileheader

#boxes
  margin-top: 0px

@import topmenu

.action-profile-index #content .main-content
  display: none

.action-profile-index, .controller-profile_design
  @import homeblocks

#content
  .block-title
    border: none
    color: #575959
    font-family: 'Ubuntu Mediun'
    font-size: 20px
    font-variant: normal
    font-weight: normal
    margin-bottom: 30px
    span
      height: 25px
      padding-left: 35px

@import internalpage
